.mesa-worker{
    position: relative;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    .ui.label {
        margin: 0;
        font-size: 20px;
        position: absolute;
      }
    svg{
        height: 150px;
        width: 150px;
        &.ocupada{
            fill: gray;
        }
        &.pending{
            fill: #0094e3
        }
        &.preparing{
            fill: rgb(234, 255, 0)
        }
        &.pending-payment {
            fill: #008000;
          }
        
    }
}