.ComandCa{
    width: 100%;
    display: grid;
    grid: 55px / 1fr;
    grid-template-areas: 
        "menu"
        "content"
    ;
    min-height: 100vh;

&__Menu{
    background-color: black;
    grid-area: menu;
}
&__Content{
    background-color: black;
    grid-area: content;
}

}